/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .top-wrapper h1{
    font-size:32px;
  }
  .heading h2{
    font-size:20px;
  }
  .lesson-wrapper {
    padding-bottom:1000px;
  }
  .lesson{
    width:50%;
    margin-bottom:50px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  
  header {
    height: 70px;
  }
  .navbar-links {
    display: none;
  }
  .header-right {
    display: none;
  }
  .checkbtn {
    display: block;
    font-size: 25px;
    float:right;
    line-height: 30px;
    margin-right: 40px;
    cursor: pointer;
  }
  .container {
    height:200px
  }
  .top-wrapper {
    padding-top: 100px;
    background-size:cover;
  }
  .top-wrapper h1{
    padding: 0 3%;
    font-size:20px;
    line-height:36px;
    text-align:left;
    font-weight: bold;
  }
  .top-wrapper h2{
    padding: 0 3%;
    font-size:20px;
    line-height:36px;
    text-align:left;
    font-weight:bold;
    padding-bottom: 20px;
  }
  .top-wrapper p{
    padding: 0 3%;
    margin-left:6%;
    font-size:10px;
    line-height:20px;
    text-align:left;
    max-width: 65%;
    text-align: justify;
  }
  .learn {
    padding: 10px;
    font-size:12px;
    margin-left:6%;
    margin-top:10px;
  }
  .lesson-wrapper {
    padding-bottom:700px;
  }
  .menu {
    height:370px;
  }
  .heading {
    padding-top:30px;
    padding-bottom:30px;
  }
  .heading h2{
    font-size:15px;
  }
  .lesson{
    width:50%;
  }
  .lesson-icon img {
    height:100px;
    width:100px;
  }
  .lesson-title {
    font-size:18px;
  }
  .txt-contents {
    font-size:13px;
    text-align: justify;
  }
  .lesson4 .lesson-icon {
    margin-top:0;
  }
  .lesson4 .lesson-title {
    margin-bottom: 0;
  }
  footer{
    text-align:center;
  }
  .message-wrapper {
    padding-bottom:15px;
  }
  .heading h3{
    padding-top:10px;
    font-size:15px;
  }
  .message {
    margin-top:1px;
    padding:7px;
    font-size:12px;
  }
}

@media all and (max-width: 425px) {
  .container {
    height:250px;
  }
  .lesson-wrapper {
    padding-bottom: 680px;
  }
  .txt-contents {
    font-size: 11px;
  }
  .message-wrapper {
    height:200px;
    padding-bottom: 0;
  }
}
