
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica";
}

a {
  text-decoration: none;
}


/* Bagian Jordhy */
header {
  height: 70px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  position:fixed;
  top:0px;
  z-index:10;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 70px;
  width: 80px;
}
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}
.navbar-links li{
  list-style: none;
}
.navbar-links li a{
  text-decoration: none;
  margin: 0 1.5rem;
  font-size:17px;
  align-items: center;
  color: #333;
}

.navbar a:hover{
  color: #3E8E7E;
  transition: .2s linear;
}
.header-right a {
  float: right;
  line-height: 70px;
  padding: 0 25px;
  color: black;
  display: block;
  margin-right: 3px;
  border-radius:4px
}
.login {
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.login:hover {
  background-color: rgba(6, 206, 251, 0.5);
}


.signup {
  background-color:rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.signup:hover {
  background-color: rgba(255,127,80,0.5);
}
.checkbtn {
  display: none;
  float: right;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 180px 0;
  background-image: url(https://github.com/arcazea/Central-Web-UKM-USK/blob/main/asset/back1.png?raw=true);
  background-size: cover;
  background-position: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 3px;
  color:#3E8E7E;
  margin: .5rem 3%;
  max-width: 40rem;
  font-weight: bold;

}

.top-wrapper h2 {
  opacity: 0.7;
  font-size: 40px;
  letter-spacing: 3px;
  color:#3E8E7E;
  margin: .5rem 3%;
  padding-bottom:2rem;
  max-width: 40rem;
  font-weight: bold;
}
.top-wrapper p {
  opacity: 0.7;
  margin-top:5px;
  margin-left:15px;
  text-align:left;
  background-color:rgba(22, 32, 43, 0.9);
  padding:5px;
  margin: .5rem 3%;
  max-width: 40rem;
  display: table;
  color:bisque;
}

.learn {
  max-width: 40rem;
  margin: 2.5rem 3%;
  color: #fff;
  display: inline-block;
  border-radius: 5rem;
  background: rgb(255,127,80);
  padding: .9rem 2rem;
  cursor: pointer;
  font-size: 17px;
}

.learn:hover {
  background: #3E8E7E;
  transition: .2s linear;
}


/* Bagian Alvin */
.lesson-wrapper {
  padding-top: 20px;
  padding-bottom: 550px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: bold;
}

.lesson {
  float: left;
  width: 25%;
}

.menu{
  height: 455px;
  margin:3px;
  border-radius: 4px;
  opacity: 0.8
}

.menu:hover{
  opacity: 1;
}
.lesson1{
  background-color:#F57328;
  border-radius: 20px;
  
}
.lesson2{
  background-color:#00C1D4;
  border-radius: 20px;
  
}
.lesson3{
  background-color:#FABB51;
  border-radius: 20px;

}
.lesson4{
  background-color:#7CD1B8;
  border-radius: 20px;
}

.lesson-icon {
  position: relative;
}

.lesson-icon img{
  width: 180px;
  height: 180px;
  margin-top: 30px;
}

.lesson-title {
  font-weight: bold;
  position: relative;
  width: 100%;
  color: black;
  font-size: 23px;
  margin-bottom: 10px;
  padding-top: 14px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: white;
}


/*Kamal */

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #7CD1B8;
  padding-bottom: 80px;
  text-align: center;
  background-color:#FAEDC6;
}
.message-wrapper h2{
  font-size: 30px;
  font-weight: bold;
}

.massage-wrapper h3{
  font-weight: bold;
}

.message {
  display:inline-block;
  border-radius: 20px;
  padding: 15px 15px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin: 13px;
  
} 

.message:hover {
  background: #3E8E7E;
  transition: .2s linear;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}


.checkbtn {
  color: rgb(117, 31, 31);
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}